<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">

    <meta charset="UTF-8">
    <!-- import CSS -->
    <link href="../element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="../downloads/moment.min.js"></script>
    <!-- import Vue before Element -->
    <script src="../vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="../element-ui/lib/index.js"></script>
    <script src="../axios/dist/axios.min.js"></script>
    <script src="../vue-router/dist/vue-router.js"></script>
    <script>
        Vue.prototype.$axios = axios;
        axios.defaults.withCredentials =true;

        // 在发送请求之前做某件事
        axios.interceptors.request.use(config => {
            // 下面会说在什么时候存储 token
            if (localStorage.token) {
                config.headers.Authorization = 'Bearer ' + localStorage.token
            }
            return config
        },error =>{
            Message.error("错误的传参")
            return Promise.reject(error)
        });

        //返回状态判断(添加响应拦截器)
        axios.interceptors.response.use(res =>{
            //对响应数据做些事
            if(res.data.code!=200){
                Message.error(res.message)
                return Promise.reject(res)
            }
            return res
        }, error => {
            if(error.response.status === 401) {
                // 401 说明 token 验证失败
                // 可以直接跳转到登录页面，重新登录获取 token
                location.href = '/admin'
            } else if (error.response.status === 500) {
                // 服务器错误
                return Promise.reject(error.response.data)
            }
            // 返回 response 里的错误信息
            return Promise.reject(error.response.data)
        });

    </script>
</head>
