<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link href="element-ui/lib/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <el-tabs @tab-click="handleTabsClick" type="border-card" v-model="activeName">
        <el-tab-pane label="查询工单" name="WorkOrder">

        </el-tab-pane>

        <el-tab-pane label="裁剪计划" name="tailoringPlans">
            <el-form :inline="true" :model="findForm" class="demo-form-inline">
                <el-form-item label="出货时间">
                    <el-date-picker
                            :default-time="['00:00:00', '23:59:59']"
                            :picker-options="pickerOptions"
                            align="right"
                            end-placeholder="结束日期"
                            range-separator="至"
                            start-placeholder="开始日期"
                            type="daterange"
                            unlink-panels
                            v-model="startEndDate"
                            value-format="yyyy-MM-dd HH:mm:ss">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="工单号">
                    <el-input placeholder="工单号" v-model="findForm.workOrderNo"></el-input>
                </el-form-item>
                <el-form-item label="产品编号">
                    <el-input placeholder="请输入产品编号" v-model="findForm.productCode"></el-input>
                </el-form-item>
                <el-form-item label="组别">
                    <el-select placeholder="请选择"
                               v-model="findForm.group">
                        <el-option
                                :key="item.group"
                                :label="item.group"
                                :value="item.group"
                                v-for="item in groups">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="状态">
                    <el-checkbox-group v-model="findFormStatus">
                        <el-checkbox label="2">已完成</el-checkbox>
                        <el-checkbox label="1">未完成</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item>
                    <el-button @click="planTableQuery" type="primary">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button @click="updatetNotFinishedPlan" type="primary">更新未完成计划</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button :disabled="multipleSelection.length==0" @click="updatePlanStatus(1)" type="primary">
                        手动打开
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button :disabled="multipleSelection.length==0" @click="updatePlanStatus(2)" type="primary">
                        手动关闭
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button :disabled="multipleSelection.length==0" @click="savePlan" type="primary">保存</el-button>
                </el-form-item>
            </el-form>

            <el-table :data="planData.content"
                      :row-class-name="planDataTableRowClassName"
                      @selection-change="handleSelectionChange"
                      sortable="custom"
                      @sort-change="sortChange"
                      ref="planTable"
                      style="width: 100%">
                <el-table-column
                        type="selection">
                </el-table-column>


                <el-table-column
                        label="工单号"
                        prop="workOrderNo">
                </el-table-column>
                <el-table-column
                        label="产品编码"
                        prop="productCode"
                        width="200">
                </el-table-column>
                <el-table-column
                        label="产品行号"
                        prop="productLineNo">
                </el-table-column>
                <el-table-column
                        label="布料编码"
                        prop="fabricCode">
                </el-table-column>
                <el-table-column
                        :formatter="formatterColor"
                        label="颜色"
                        prop="fabricColour">
                </el-table-column>
                <el-table-column
                        label="幅宽"
                        prop="fabricWidth">
                </el-table-column>
                <el-table-column
                        label="装箱数量"
                        prop="boxQuantity">
                </el-table-column>
                <el-table-column
                        label="完成数量"
                        prop="workQuantity">
                </el-table-column>
                <el-table-column
                        label="计划数量"
                        width="100" >
                    <template slot-scope="scope">
                        <el-popover
                                v-if="['1','2'].indexOf(scope.row.status)>-1"
                                placement="top-start"
                                width="100"
                                trigger="focus"
                                :content="'最大值:'+scope.row.maxQuantity">

                            <el-input  slot="reference"
                                       :max="scope.row.maxQuantity"
                                       placeholder="计划数量"
                                       v-model="scope.row.quantity"
                                       @focus="findMaxQuantity(scope.row)"
                                       @change="changeQuantity(scope.row)">

                            </el-input>
                        </el-popover>

                        <label v-else>{{scope.row.quantity}}</label>
                    </template>
                </el-table-column>

                <el-table-column
                        label="换片数量">
                    <template slot-scope="scope">
                        <el-popover
                                v-if="['1','2'].indexOf(scope.row.status)>-1"
                                placement="top-start"
                                width="100"
                                trigger="focus"
                                :content="'最大值:'+scope.row.maxChangePiecesQuantity">

                            <el-input slot="reference"
                                      :max="scope.row.maxChangePiecesQuantity"
                                      placeholder="换片数量"

                                      v-model="scope.row.changePiecesQuantity"
                                      @focus="findMaxChangePiecesQuantity(scope.row)"
                                      @change="changeChangePiecesQuantity(scope.row)"
                            ></el-input>
                        </el-popover>

                        <label v-else>{{scope.row.changePiecesQuantity}}</label>
                    </template>
                </el-table-column>
                <el-table-column
                        label="扎单数量">
                    <template slot-scope="scope">
                        <el-input autocomplete="off" v-if="['1','2'].indexOf(scope.row.status)>-1"
                                  v-model.number="scope.row.bindingQuantity"
                        ></el-input>
                        <label v-else>{{scope.row.bindingQuantity}}</label>
                    </template>
                </el-table-column>
                <el-table-column
                        label="版号" width="150px">
                    <template slot-scope="scope">
                        <el-select placeholder="请选择" v-if="['1','2'].indexOf(scope.row.status)>-1"
                                   v-model="scope.row.typeNumber">
                            <el-option
                                    :key="item"
                                    :label="item"
                                    :value="item"
                                    v-for="item in typeNumberMap[scope.row.fabricCode]">
                            </el-option>
                        </el-select>
                        <label v-else>{{scope.row.typeNumber}}</label>
                    </template>
                </el-table-column>
                <el-table-column
                        label="主/辅/补">
                    <template slot-scope="scope">
                        <el-select placeholder="请选择主辅补" v-if="['1','2'].indexOf(scope.row.status)>-1"
                                   v-model="scope.row.mainSupplement">
                            <el-option label="主" value="主"></el-option>
                            <el-option label="辅" value="辅"></el-option>
                            <el-option label="补" value="补"></el-option>
                        </el-select>
                        <label v-else>{{scope.row.mainSupplement}}</label>
                    </template>
                </el-table-column>
                <el-table-column
                        label="组别" width="100px">
                    <template slot-scope="scope">
                        <el-select placeholder="请选择" v-if="['1','2'].indexOf(scope.row.status)>-1"
                                   v-model="scope.row.group" @change="changeGroup(scope.row)">
                            <el-option
                                    :key="item.group"
                                    :label="item.group"
                                    :value="item.group"
                                    v-for="item in groups">
                            </el-option>
                        </el-select>
                        <label v-else>{{scope.row.group}}</label>
                    </template>

                </el-table-column>
                <el-table-column
                        label="组员"
                        prop="member">
                </el-table-column>
                <el-table-column
                        :formatter="formatterStatus"
                        label="计划状态"
                        prop="status">
                </el-table-column>
                <el-table-column
                        :formatter="formatterDate"
                        label="出货日期"
                        prop="dueDate"
                        sortable
                        width="120">
                </el-table-column>

                <el-table-column
                        label="创建时间"
                        prop="createTime"
                        sortable>
                </el-table-column>

                <el-table-column
                        fixed="right"
                        label="操作"
                        width="120">
                    <template slot-scope="scope">

                        <el-button @click.native.prevent="cloneRow(scope.row,scope.$index)"
                                   size="small"
                                   type="text" >克隆
                        </el-button>
                        <el-button @click.native.prevent="deleteRow(scope.row, -1,scope.$index)"
                                   size="small"
                                   type="text"
                                   v-if="['1','2'].indexOf(scope.row.status)>-1">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <div class="block">
                <el-pagination
                        :current-page.sync="currentPage"
                        :page-size="findForm.size"
                        :total="planData.totalElements"
                        @current-change="handleCurrentChange"
                        @size-change="handleSizeChange"
                        layout="total, prev, pager, next">
                </el-pagination>
            </div>
        </el-tab-pane>
        <el-tab-pane label="审核" name="TailoringExamine">

        </el-tab-pane>

        <el-tab-pane label="任务" name="TailoringTask">
        </el-tab-pane>
    </el-tabs>

</div>
</body>
<script src="downloads/moment.min.js"></script>
<!-- import Vue before Element -->
<script src="vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="element-ui/lib/index.js"></script>
<script src="axios/dist/axios.min.js"></script>
<script>
    var v = new Vue({
        el: '#app',
        data: function () {
            return {
                activeName: "tailoringPlans",
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                startEndDate: [],
                formLabelWidth: '120px',
                multipleSelection: [],
                planStatus: {"-1": "删除", "1": "初始", "2": "等待裁剪", "3": "开始裁剪", "4": "裁剪完成", "5": "提交", "6": "裁剪完成",},
                groups: [],
                typeNumberMap: {},
                findFormStatus: [],
                findForm: {
                    workOrderNo: '',
                    productCode: '',
                    status: [],
                    group:'',
                    page: 0,
                    size: 10,
                    sort: "createTime,desc"
                },
                currentPage: 1,
                cutForm: {cutRowCount: 2},
                planData: {content: [], totalElements: 0},

            }
        },
        mounted() {
            this.loadGroups();
            this.loadTypeNumberMap();
            this.planTableQuery();
        },
        watch: {

            findFormStatus: function () {
                if (this.findFormStatus.length > 0) {
                    this.findForm.status = this.findFormStatus.join(",");
                } else {
                    this.findForm.status = [];
                }
            },
        },
        methods: {
            formatterDate: function (row, column) {
                if (row.dueDate) {
                    var strs = row.dueDate.split("T")
                    return strs.length > 0 ? strs[0] : "";
                } else {
                    return row.dueDate;
                }
            },
            formatterStatus: function (row, column) {
                return this.planStatus[row.status + ""];
            },
            sortChange(obj){
                if(obj.order){
                    this.findForm.sort = obj.prop+","+({"ascending":"asc","descending":"desc"}[obj.order]);
                }else{
                    this.findForm.sort="";
                }
                this.planTableQuery();
            },
            formatterColor: function (row, column) {

                const colors = {
                    "BK": "黑色",
                    "BL": "蓝色",
                    "DG": "深灰",
                    "GR": "绿色",
                    "LG": "浅灰",
                    "NV": "藏青",
                    "OR": "橙色",
                    "RD": "红色",
                    "SL": "瓦灰",
                    "WG": "白 + 橙绿滚条",
                    "WH": "白色",
                    "WN": "白 + 蓝色滚条",
                    "WR": "白 + 红色滚条",
                    "WY": "白 + 黄色滚条",
                    "YE": "黄色",
                    "YY": "黄 + 黄色滚条",
                }
                return colors[row.fabricColour] || row.fabricColour;
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.findForm.page = val - 1;
                this.planTableQuery();
                console.log(`当前页: ${val}`);
            },

            planDataTableRowClassName: function ({row, rowIndex}) {
                if (row.status === "6") {
                    return 'success-row';
                }
                return '';
            },

            handleTabsClick: function (event) {
                window.location.href = "/" + event.name
            },
            //加载组员分组
            loadGroups: function () {
                axios.get('/baseTailoringDistributions', {}).then((response) => {
                    this.groups = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //加载版型
            loadTypeNumberMap: function () {
                axios.get('/api/baseFabricUsage/mapTypeNumberByfabricCode', {}).then((response) => {
                    this.typeNumberMap = response.data.data;
                 }).catch(function (error) {
                    console.log(error);
                });
            },
            //查询计划
            planTableQuery: function () {
                this.findForm.startTime = this.startEndDate[0];
                this.findForm.endTime = this.startEndDate[1];
                axios.get('/tailoringPlans/list', {
                    params: this.findForm
                }).then((response) => {
                    this.planData = response.data.data;
                }).
                catch(function (error) {
                    console.log(error);
                });
            },
            updatetNotFinishedPlan: function () {
                axios.get('/tailoringPlans/updatetNotFinishedPlan', {}).then((response) => {
                    // console.log(response);
                }).catch(function (error) {
                    console.log(error);
                });
            },

            savePlan: function () {

                for (let i = 0; i < this.multipleSelection.length; i++) {
                    if (!this.multipleSelection[i].group) {
                        this.$message.error('组别不能为空！');
                        return;
                    }
                    if (!this.multipleSelection[i].typeNumber) {
                        this.$message.error('版号不能为空！');
                        return;
                    }
                    if (!this.multipleSelection[i].mainSupplement) {
                        this.$message.error('主/辅/补不能为空！');
                        return;
                    }
                }

                axios.post('/tailoringPlans/insertOrUpdate', this.multipleSelection).then((response) => {
                    this.$message({
                        message: response.data.code==200 ? '保存成功！':response.data.message,
                        type: 'success'
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            },
            findMaxQuantity: function(row){
                let rows =this.planData.content.filter((item) => {
                    return item.workOrderNo==row.workOrderNo&&item.productCode==row.productCode&&item.mainSupplement==row.mainSupplement&&item.id!=row.id;
                });
                rows.splice(0,0,row);

                axios.post('/tailoringPlans/findMaxQuantity', rows).then((response) => {
                    row.maxQuantity=response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
                console.log(row)
            },

            findMaxChangePiecesQuantity: function(row){
                let rows = this.planData.content.filter((item) => {
                    return item.workOrderNo==row.workOrderNo&&item.productCode==row.productCode&&item.mainSupplement==row.mainSupplement&&item.id!=row.id;
                });
                rows.splice(0,0,row);

                axios.post('/tailoringPlans/findMaxChangePiecesQuantity', rows).then((response) => {
                    row.maxChangePiecesQuantity=response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
                console.log(row)
            },

            changeQuantity: function(row){
                //超出最大值
                if(row.quantity>row.maxQuantity){
                    row.quantity = row.maxQuantity
                    this.$message({
                        message: "最大值是"+row.maxQuantity,
                        type: 'success'
                    });
                    return ;
                }

                if(row.quantity%row.boxQuantity!= 0){
                    this.$message({
                        message: "计划数量要是装箱数量的整数倍建议："+(row.quantity-(row.quantity%row.boxQuantity)),
                        type: 'success'
                    });
                    return
                }
            },
            changeChangePiecesQuantity: function(row){
                //超出最大值
                if(row.changePiecesQuantity>row.maxChangePiecesQuantity){
                    row.changePiecesQuantity = row.maxChangePiecesQuantity
                    this.$message({
                        message: "最大值是"+row.maxChangePiecesQuantity,
                        type: 'success'
                    });
                }

            },
            changeGroup: function(row){
                let gs = this.groups.filter((item) => {
                    return item.group == row.group
                });
                if (gs && gs[0]) {
                    let g = gs[0];
                    row.member = g.member1 + "," + g.member2 + "," + g.member3;
                }
                // console.log(row)
            },
            updatePlanStatus: function (status) {
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    this.multipleSelection[i].status = status;
                    axios.post('/tailoringPlans/updatePlanStatus', {
                        id: this.multipleSelection[i].id, status: status
                    }).then((response) => {

                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },

            deleteRow: function (row, status, index) {

                this.$alert('确定要删除计划码？', '删除计划', {
                    confirmButtonText: '确定',
                    callback: action => {
                        if(action == "confirm")
                        {
                            row.status='-1'
                            axios.post('/tailoringPlans/delete', {
                                id: row.id
                            }).then((response) => {
                                if(status == -1){
                                    this.planData.content.splice(index, 1);
                                }
                            }).catch(function (error) {
                                console.log(error);
                            });
                        }
                    }
                });

            },
            //增加一行
            cloneRow: function (row, index) {
                let newRow = Object.assign({}, row);
                newRow.id = null;
                newRow.quantity = 0;
                newRow.workQuantity = 0;
                newRow.status="1";
                newRow.changePiecesQuantity="0";
                this.planData.content.splice(0, 0, newRow);
            },
        }
    })
</script>
<style>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>
</html>