USE [RFID]
GO
/****** Object:  Table [dbo].[base_dict]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[base_dict](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[dict_key] [varchar](255) NULL,
	[dict_value] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK76doe8qfy5e2pfx6mpv7qa3c0] UNIQUE NONCLUSTERED 
(
	[dict_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[base_fabric_detail]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_fabric_detail](
	[fabric_code] [nvarchar](10) NULL,
	[fabric_name] [nvarchar](50) NULL,
	[fabric_colour] [nvarchar](4) NULL,
	[fabric_weight] [int] NULL,
	[fabric_width_meter] [float] NULL,
	[fabric_width_foot] [int] NULL,
	[create_time] [datetime2](0) NOT NULL,
	[update_time] [datetime2](0) NOT NULL,
	[id] [bigint] NOT NULL,
 CONSTRAINT [base_fabric_detail_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[base_fabric_usage]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_fabric_usage](
	[id] [bigint] NOT NULL,
	[product_code] [nvarchar](60) NOT NULL,
	[type_number] [nvarchar](40) NULL,
	[binding_quantity] [int] NULL,
	[flap_length] [nvarchar](7) NULL,
	[ton_flap] [nvarchar](10) NULL,
	[fabric_code] [nvarchar](10) NULL,
	[fabric_width] [float] NULL,
	[fabric_colour] [nvarchar](3) NULL,
	[box_quantity] [int] NULL,
	[pieces_number] [int] NULL,
	[mark_width] [nvarchar](100) NULL,
	[max_floor_height] [int] NULL,
	[change_rate] [nvarchar](12) NULL,
	[fabric1_usage] [nvarchar](100) NULL,
	[fabric2_usage] [nvarchar](100) NULL,
	[fabric3_usage] [nvarchar](100) NULL,
	[fabric4_usage] [nvarchar](100) NULL,
	[fabric5_usage] [nvarchar](100) NULL,
	[fabric6_usage] [nvarchar](100) NULL,
	[fabric7_usage] [nvarchar](100) NULL,
	[fabric8_usage] [nvarchar](100) NULL,
	[create_time] [datetime2](0) NOT NULL,
	[update_time] [datetime2](0) NOT NULL,
 CONSTRAINT [base_fabric_usage_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[base_hpw]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_hpw](
	[id] [bigint] NOT NULL,
	[product_group_code] [nvarchar](10) NULL,
	[product_code] [nvarchar](30) NULL,
	[eng_id] [nvarchar](20) NULL,
	[item_category_code] [nvarchar](5) NULL,
	[group_item_Code] [nvarchar](20) NULL,
	[bom_version] [nvarchar](4) NULL,
	[base_unit] [nvarchar](3) NULL,
	[unit_volume] [float] NULL,
	[size] [nvarchar](8) NULL,
	[colour] [nvarchar](2) NULL,
	[box_quantity] [int] NULL,
	[descripton_cn] [nvarchar](30) NULL,
	[descripton_en] [nvarchar](50) NULL,
	[tariff_no] [nvarchar](max) NULL,
	[tariff_description] [nvarchar](100) NULL,
	[default_bin_code_mxl] [nvarchar](10) NULL,
	[default_bin_code_msl] [nvarchar](10) NULL,
	[process_type_mxl] [nvarchar](20) NULL,
	[process_type_msl] [nvarchar](255) NULL,
	[gross_weight] [float] NULL,
	[net_weight] [float] NULL,
	[net_weight_each] [int] NULL,
	[bag_quantity] [int] NULL,
	[binding_quantity] [int] NULL,
	[box_weight] [int] NULL,
	[sales_uom] [nvarchar](3) NULL,
	[seam_technology] [nvarchar](2) NULL,
	[create_time] [datetime2](0) NOT NULL,
	[update_time] [datetime2](0) NOT NULL,
 CONSTRAINT [base_hpw_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[base_tailoring_distribution]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base_tailoring_distribution](
	[group] [nvarchar](20) NOT NULL,
	[member1] [nvarchar](10) NULL,
	[member2] [nvarchar](10) NULL,
	[member3] [nvarchar](10) NULL,
	[percent1] [int] NULL,
	[percent2] [int] NULL,
	[percent3] [int] NULL,
	[percent] [int] NULL,
	[create_time] [datetime2](0) NOT NULL,
	[update_time] [datetime2](0) NOT NULL,
	[id] [bigint] NOT NULL,
 CONSTRAINT [base_tailoring_distribution_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sec_group]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sec_group](
	[id] [bigint] NOT NULL,
	[create_time] [bigint] NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[update_time] [bigint] NULL,
 CONSTRAINT [sec_group_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sec_permission]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sec_permission](
	[id] [bigint] NOT NULL,
	[method] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[parent_id] [bigint] NULL,
	[permission] [varchar](255) NULL,
	[sort] [int] NULL,
	[type] [int] NULL,
	[url] [varchar](255) NULL,
 CONSTRAINT [sec_permission_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sec_role]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sec_role](
	[id] [bigint] NOT NULL,
	[create_time] [bigint] NULL,
	[description] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[update_time] [bigint] NULL,
 CONSTRAINT [sec_role_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sec_role_permission]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_role_permission](
	[permission_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sec_user]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sec_user](
	[id] [bigint] NOT NULL,
	[birthday] [bigint] NULL,
	[create_time] [bigint] NULL,
	[email] [varchar](255) NULL,
	[nickname] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[sex] [int] NULL,
	[status] [int] NULL,
	[update_time] [bigint] NULL,
	[username] [varchar](255) NULL,
 CONSTRAINT [sec_user_pk] PRIMARY KEY NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sec_user_group]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_user_group](
	[role_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sec_user_role]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sec_user_role](
	[role_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tailoring_detail]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_detail](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tailoring_plan_id] [int] NULL,
	[work_order_no] [nvarchar](32) NULL,
	[type_group] [nvarchar](16) NULL,
	[product_line_no] [int] NULL,
	[product_code] [nvarchar](64) NULL,
	[product_quantity] [int] NULL,
	[fabric_code] [nvarchar](16) NULL,
	[spreading_count] [int] NULL,
	[floor] [int] NULL,
	[quantity] [int] NULL,
	[binding_quantity] [int] NULL,
	[change_pieces_quantity] [int] NULL,
	[create_time] [datetime2](0) NOT NULL,
	[update_time] [datetime2](0) NOT NULL,
	[status] [int] NULL,
	[left_quantity] [int] NULL,
	[spreading_id] [bigint] NULL,
	[spreading_quantity] [int] NULL,
	[task_id] [bigint] NULL,
	[type_quantity] [int] NULL,
	[main_supplement] [varchar](255) NULL,
 CONSTRAINT [PK__tailorin__3213E83F2465C214] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_examine]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_examine](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[check_date] [datetime2](7) NULL,
	[check_name] [varchar](255) NULL,
	[erpdatum] [datetime2](7) NULL,
	[erpflag] [varchar](255) NULL,
	[erpid] [varchar](255) NULL,
	[fabric_code] [varchar](255) NULL,
	[fabric_colour] [varchar](255) NULL,
	[fabric_weight] [int] NULL,
	[fabric_width] [float] NULL,
	[group] [varchar](255) NULL,
	[member] [varchar](255) NULL,
	[recovery_quantity] [float] NULL,
	[status] [varchar](255) NULL,
	[tailoring_no] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_examine_fabric_record]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_examine_fabric_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[actual_fabric_width] [float] NULL,
	[actual_length] [float] NULL,
	[change_pieces_quantity] [int] NULL,
	[fabric_code] [varchar](255) NULL,
	[floor] [int] NULL,
	[left_length] [int] NULL,
	[lot_number] [varchar](255) NULL,
	[quantity] [int] NULL,
	[reel_number] [varchar](255) NULL,
	[spreading_count] [int] NULL,
	[spreading_length] [int] NULL,
	[sum_length] [float] NULL,
	[tailoring_no] [varchar](255) NULL,
	[theory_fabric_width] [float] NULL,
	[theory_length] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_examine_no]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tailoring_examine_no](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[number_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tailoring_examine_plan]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_examine_plan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[binding_quantity] [int] NULL,
	[change_pieces_quantity] [int] NULL,
	[fabric_code] [varchar](255) NULL,
	[floor] [int] NULL,
	[main_supplement] [varchar](255) NULL,
	[max_floor_height] [int] NULL,
	[product_code] [varchar](255) NULL,
	[product_line_no] [int] NULL,
	[product_quantity] [int] NULL,
	[quantity] [int] NULL,
	[spreading_count] [int] NULL,
	[spreading_quantity] [int] NULL,
	[tailoring_no] [varchar](255) NULL,
	[tailoring_plan_id] [bigint] NULL,
	[type_group] [varchar](255) NULL,
	[type_number] [varchar](255) NULL,
	[type_quantity] [int] NULL,
	[work_order_no] [varchar](255) NULL,
	[consume_qty] [float] NULL,
	[spreading_length] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_fabric_consume]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_fabric_consume](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[consume_quantity] [float] NULL,
	[erpdatum] [datetime2](7) NULL,
	[erpflag] [varchar](255) NULL,
	[erpid] [varchar](255) NULL,
	[product_code] [varchar](255) NULL,
	[product_line_no] [int] NULL,
	[work_order_no] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_fabric_left]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_fabric_left](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[actual_fabric_width] [float] NULL,
	[actual_length] [float] NULL,
	[fabric_code] [varchar](255) NULL,
	[group] [varchar](255) NULL,
	[lot_number] [varchar](255) NULL,
	[member] [varchar](255) NULL,
	[reel_number] [varchar](255) NULL,
	[remark] [varchar](255) NULL,
	[spreading_id] [bigint] NULL,
	[theory_fabric_width] [float] NULL,
	[theory_length] [float] NULL,
	[type] [varchar](255) NULL,
	[uuid] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_fabric_record]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_fabric_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[actual_fabric_width] [float] NULL,
	[actual_length] [float] NULL,
	[change_pieces_quantity] [int] NULL,
	[due_date] [datetime2](7) NULL,
	[fabric_code] [varchar](255) NULL,
	[floor] [int] NULL,
	[group] [varchar](255) NULL,
	[left_length] [int] NULL,
	[lot_number] [varchar](255) NULL,
	[member] [varchar](255) NULL,
	[product_code] [varchar](255) NULL,
	[quantity] [int] NULL,
	[reel_number] [varchar](255) NULL,
	[sort_no] [varchar](255) NULL,
	[spreading_count] [int] NULL,
	[spreading_id] [bigint] NULL,
	[spreading_length] [int] NULL,
	[sum_length] [float] NULL,
	[task_id] [bigint] NULL,
	[theory_fabric_width] [float] NULL,
	[theory_length] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_order]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_order](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[binding_quantity] [int] NULL,
	[box_quantity] [int] NULL,
	[change_pieces_quantity] [int] NULL,
	[description] [varchar](255) NULL,
	[due_date] [datetime2](7) NULL,
	[fabric_code] [varchar](255) NULL,
	[fabric_colour] [varchar](255) NULL,
	[fabric_width] [float] NULL,
	[product_code] [varchar](255) NULL,
	[product_line_no] [int] NULL,
	[quantity] [float] NULL,
	[remaining_quantity] [float] NULL,
	[status] [varchar](255) NULL,
	[type_quantity] [int] NULL,
	[work_order_no] [varchar](255) NULL,
	[work_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_plan]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_plan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[binding_quantity] [int] NULL,
	[box_quantity] [int] NULL,
	[change_pieces_quantity] [int] NULL,
	[due_date] [datetime2](7) NULL,
	[fabric_code] [varchar](255) NULL,
	[fabric_colour] [varchar](255) NULL,
	[fabric_width] [float] NULL,
	[group] [varchar](255) NULL,
	[main_supplement] [varchar](255) NULL,
	[max_change_pieces_quantity] [int] NULL,
	[max_floor_height] [int] NULL,
	[max_quantity] [int] NULL,
	[member] [varchar](255) NULL,
	[product_code] [varchar](255) NULL,
	[product_line_no] [int] NULL,
	[quantity] [int] NULL,
	[status] [varchar](255) NULL,
	[type_number] [varchar](255) NULL,
	[type_quantity] [int] NULL,
	[work_change_pieces_quantity] [int] NULL,
	[work_order_no] [varchar](255) NULL,
	[work_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_recovery_record]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_recovery_record](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[erpdatum] [datetime2](7) NULL,
	[erpflag] [varchar](255) NULL,
	[erpid] [varchar](255) NULL,
	[recovery_change_pieces_quantity] [int] NULL,
	[recovery_name] [varchar](255) NULL,
	[recovery_quantity] [float] NULL,
	[recovery_time] [datetime2](7) NULL,
	[task_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_spreading]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tailoring_spreading](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[floor] [int] NULL,
	[plan_count] [int] NULL,
	[quantity] [int] NULL,
	[reel_count] [int] NULL,
	[spreading_count] [int] NULL,
	[task_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tailoring_task]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_task](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[fabric_code] [varchar](255) NULL,
	[group] [varchar](255) NULL,
	[member] [varchar](255) NULL,
	[status] [varchar](255) NULL,
	[tailoring_no] [varchar](255) NULL,
	[type_group] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tailoring_task_plan]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tailoring_task_plan](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NOT NULL,
	[binding_quantity] [int] NULL,
	[change_pieces_quantity] [int] NULL,
	[fabric_code] [varchar](255) NULL,
	[floor] [int] NULL,
	[main_supplement] [varchar](255) NULL,
	[max_floor_height] [int] NULL,
	[product_code] [varchar](255) NULL,
	[product_quantity] [int] NULL,
	[quantity] [int] NULL,
	[spreading_count] [int] NULL,
	[spreading_quantity] [int] NULL,
	[tailoring_plan_id] [bigint] NULL,
	[task_id] [bigint] NULL,
	[type_group] [varchar](255) NULL,
	[type_number] [varchar](255) NULL,
	[type_quantity] [int] NULL,
	[work_order_no] [varchar](255) NULL,
	[max_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[v_erp_prod_order]    Script Date: 2019/12/26 15:58:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[v_erp_prod_order](
	[forder] [nvarchar](45) NULL,
	[fLineNo] [nvarchar](45) NULL,
	[fcode] [nvarchar](45) NULL,
	[DESCRIPTION] [nvarchar](45) NULL,
	[fDueDate] [datetime2](0) NULL,
	[fQuantity] [float] NULL,
	[remainingQuantity] [float] NULL,
	[fbox] [float] NULL,
	[fPcs] [float] NULL,
	[id] [bigint] NOT NULL
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'裁剪明细ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'裁剪计划ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'tailoring_plan_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'工单号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'work_order_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'版型分组' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'type_group'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品行号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'product_line_no'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'product_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'成品数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'product_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'布料编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'fabric_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'拉布次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'spreading_count'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层数（层高）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'floor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'件数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'扎单数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'binding_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'换片数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'change_pieces_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态，1 开始裁剪，2 裁剪完成' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'裁剪明细表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tailoring_detail'
GO
