<!DOCTYPE html>
<html>
<head th:replace="common/common_header::common_header">

<body>
<div id="app">

    <el-tabs @tab-click="handleTabsClick" type="border-card" v-model="activeName">
        <el-tab-pane label="查询工单" name="WorkOrder">

            <el-form :inline="true" :model="findForm" class="demo-form-inline">
                <el-form-item label="出货时间">
                    <el-date-picker
                            :default-time="['00:00:00', '23:59:59']"
                            :picker-options="pickerOptions"
                            align="right"
                            end-placeholder="结束日期"
                            range-separator="至"

                            start-placeholder="开始日期"
                            type="daterange"
                            unlink-panels
                            v-model="startEndDate"
                            value-format="yyyy-MM-dd HH:mm:ss">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="布料编号">
                    <el-input placeholder="布料编号" v-model="findForm.fabricCode"></el-input>
                </el-form-item>

                <el-form-item label="车间">
                    <el-input placeholder="车间" v-model="findForm.dept"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="planTableQuery" type="primary">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button @click="addOrders()" type="primary">添加</el-button>
                </el-form-item>
            </el-form>

            <el-container>
                <el-table :data="orderData.content"
                          :row-class-name="tableRowClassName"
                          sortable="custom"
                          @sort-change="sortChange"
                          ref="workOrderTable">
                    <el-table-column type="selection">
                    </el-table-column>

                    <el-table-column
                            label="加工单号"
                            prop="workOrderNo"
                            sortable>
                    </el-table-column>
                    <el-table-column
                            label="产品编码"
                            prop="productCode">
                    </el-table-column>
                    <el-table-column
                            label="产品行号"
                            prop="productLineNo">
                    </el-table-column>
                    <el-table-column
                            label="工单数量"
                            prop="workOrderQuantity"
                            sortable >
                    </el-table-column>

                    <el-table-column
                            label="计划数量"
                            prop="quantity"
                            >
                    </el-table-column>
                    <el-table-column
                            label="完成数量"
                            prop="workQuantity"
                             >
                    </el-table-column>
                    <el-table-column
                            label="装箱数量"
                            prop="boxQuantity"
                            >
                    </el-table-column>
                    <el-table-column
                            label="扎单数量"
                            prop="bindingQuantity" >
                    </el-table-column>

                    <el-table-column
                            label="版号"
                            prop="typeNumber">
                    </el-table-column>
                    <el-table-column
                            label="布料编号"
                            prop="fabricCode">
                    </el-table-column>
                    <el-table-column
                            label="车间"
                            prop="dept">
                    </el-table-column>
                    <el-table-column
                            label="幅宽"
                            prop="fabricWidth">
                    </el-table-column>
                    <el-table-column
                            label="换片率"
                            prop="changeRate">
                    </el-table-column>
                    <el-table-column
                            label="颜色"
                            prop="fabricColour">
                    </el-table-column>

                    <el-table-column
                            :formatter="formatterDate"
                            label="出货日期"
                            prop="dueDate"
                            sortable>
                    </el-table-column>

                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    @click.native.prevent="addOrder(scope.row)"
                                    size="small"
                                    type="text">
                                添加
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-container>
            <div class="block">
                <el-pagination
                        :current-page.sync="currentPage"
                        :page-size="findForm.size"
                        :total="orderData.totalElements"
                        @current-change="orderHandleCurrentChange"
                        @size-change="handleSizeChange"
                        layout="total, prev, pager, next">
                </el-pagination>
            </div>
        </el-tab-pane>

        <el-tab-pane :label="tailoringPlanLabel" name="tailoringPlans">
        </el-tab-pane>

        <el-tab-pane label="审核" name="TailoringExamine">

        </el-tab-pane>

        <el-tab-pane label="任务" name="TailoringTask">
        </el-tab-pane>

    </el-tabs>

</div>
</body>

<script>

    new Vue({
        el: '#app',
        data: function () {
            return {
                activeName: "WorkOrder",
                orderData: {content: [], totalElements: 0},
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                startEndDate: [],

                formLabelWidth: '120px',
                multipleSelection: [],
                planStatus: {"-1": "已删除", "1": "未完成", "2": "已完成",},

                tailoringPlanLabel: "裁剪计划",
                newPlanCount: 0,
                findForm: {
                    startTime: '',
                    endTime: '',
                    fabricCode:"",
                    dept:"",
                    page: 0,
                    size: 10,
                    sort: "dueDate,desc"
                },
                currentPage: 1,

            }
        },
        mounted() {
            this.startEndDate = [moment(new Date).format("YYYY-MM-DD 00:00:00"),
                moment(new Date).format("YYYY-MM-DD 23:59:59")];
            this.planTableQuery();
        },
        watch: {
            'form.group': function () {
                let gs = this.groups.filter((item) => {
                    return item.group == this.form.group
                }
            )
                ;
                if (gs && gs[0]) {
                    let g = gs[0];
                    this.form.member = g.member1 + "," + g.member2 + "," + g.member3;
                }
            },
            newPlanCount: function () {
                if (this.newPlanCount > 0) {
                    this.tailoringPlanLabel = "裁剪计划 (" + this.newPlanCount + ")";
                }
            },

        },
        methods: {
            formatterDate: function (row, column) {
                if (row.dueDate) {
                    var strs = row.dueDate.split("T")
                    return strs.length > 0 ? strs[0] : "";
                } else {
                    return row.dueDate;
                }
            },
            formatterStatus: function (row, column) {
                return this.planStatus[row.status + ""];
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            sortChange(obj){
                if(obj.order){
                    this.findForm.sort = obj.prop+","+({"ascending":"asc","descending":"desc"}[obj.order]);
                }else{
                    this.findForm.sort="";
                }
                this.planTableQuery();
            },
            orderHandleCurrentChange(val) {
                this.findForm.page = val - 1;
                this.planTableQuery();
                console.log(`当前页: ${val}`);
            },
            tableRowClassName: function ({row, rowIndex}) {
                if (rowIndex % 2 === 1) {
                    return 'warning-row';
                }
                return '';
            },
            planTableQuery: function () {

                this.findForm.startTime = this.startEndDate[0];
                this.findForm.endTime = this.startEndDate[1];

                axios.get('/api/workOrders/list', {
                    params: this.findForm
                }).then((response) => {
                    this.orderData = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            addOrders: function () {
                axios.post('/api/tailoringPlans/insertByWorkOrder', this.$refs.workOrderTable.selection).then((response) => {
                    if(response.data.code == 200
            )
                {
                    this.$message({
                        message: '裁剪计划添加成功！',
                        type: 'success'
                    });
                    this.newPlanCount += this.$refs.workOrderTable.selection.length;
                }
            else
                {
                    this.$message({
                        message: response.data.message,
                        type: 'success'
                    });
                }

            }).
                catch(function (error) {
                    console.log(error);
                });
            },
            addOrder: function (order) {
                axios.post('/api/tailoringPlans/insertByWorkOrder', [order]).then((response) => {
                    if(response.data.code == 200
            )
                {
                    this.$message({
                        message: '裁剪计划添加成功！',
                        type: 'success'
                    });
                    this.newPlanCount++;
                }
            else
                {
                    this.$message({
                        message: response.data.message,
                        type: 'error'
                    });
                }
            }).
                catch(function (error) {
                    console.log(error);
                });
            },
            handleTabsClick: function (event) {
                window.location.href = "/admin/" + event.name
            },
        }
    })
</script>
<style>
    .el-table .warning-row {
        background: oldlace;
    }

    .el-table .success-row {
        background: #f0f9eb;
    }
</style>
</html>