<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">

    <el-tabs type="border-card"  v-model="activeName"  @tab-click="handleTabsClick">

        <el-tab-pane label="裁剪" name="TailoringDetail"  >

        </el-tab-pane>

        <el-tab-pane label="布料使用记录"  name="TailoringFabricRecord" >

        </el-tab-pane>

        <el-tab-pane label="裁剪布头"  name="TailoringFabricLeft"  >

        </el-tab-pane>

        <el-tab-pane label="任务"  name="TailoringTask"  >
            <div class="block">
                <el-date-picker
                        v-model="startEndDate"
                        type="daterange"
                        align="right"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        :default-time="['00:00:00', '23:59:59']"

                        unlink-panels
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        :picker-options="pickerOptions">
                </el-date-picker>
                <el-button @click="queryTask" type="primary">查询</el-button>
            </div>

            <el-table ref="taskTable"
                      :data="tailoringTaskData"
                      stripe
                      style="width: 100%">

                <el-table-column
                        prop="group"
                        label="组别">
                </el-table-column>
                <el-table-column
                        prop="member"
                        label="组员">
                </el-table-column>
                <el-table-column
                        prop="fabricCode"
                        label="布料编码">
                </el-table-column>

                <el-table-column
                        prop="typeGroup"
                        label="版型分组"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="checkName"
                        label="审核人">
                </el-table-column>
                <el-table-column
                        prop="check_date"
                        label="审核时间"
                        width="200">
                </el-table-column>

                <el-table-column
                        prop="status"
                        :formatter="formatterStatus"
                        label="状态">
                </el-table-column>

                <el-table-column
                        sortable
                        prop="createTime"
                        label="创建时间">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        width="120">
                    <template slot-scope="scope">
                        <el-button
                                @click.native.prevent="openTailoringTask(scope.row)"
                                type="text"
                                size="small">详情
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-tab-pane>

        <el-tab-pane label="布料消耗"  name="TailoringFabricConsume"  >

        </el-tab-pane>

        <el-tab-pane label="冲销记录"  name="TailoringRecoveryRecord"  >

    </el-tabs>

</div>
</body>
<script src="http://momentjs.cn/downloads/moment.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeName:"TailoringTask",
                tailoringTaskData: [],
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                startEndDate:  [],
                formLabelWidth: '120px',
                multipleSelection: [],
                taskStatus: {"-1": "已删除", "1": "正常状态", "2": "开始任务", "3": "提交任务", "4": "通过完成","5": "没通过完成",},
                groups:[]
            }
        },
        mounted() {
            this.startEndDate=[moment(new Date).format("YYYY-MM-DD 00:00:00"),
                moment(new Date).format("YYYY-MM-DD 23:59:59")];
            this.queryTask();
        },
        methods: {
            formatterDate: function (row, column) {
                var strs = row.dueDate.split("T")
                return strs.length > 0 ? strs[0] : "";
            },
            formatterStatus: function (row, column) {
                return this.taskStatus[row.status + ""];
            },
            handleTabsClick:function(event){
                window.location.href = "/"+event.name
            },
            queryTask: function () {
                axios.get('/api/tailoringTask/selectByDate', {
                    params: {
                        startTime: this.startEndDate[0],
                        endTime: this.startEndDate[1]
                    }
                }).then((response) => {
                    this.tailoringTaskData = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            openTailoringTask: function (row) {
                window.location.href = "/TailoringTask/examine?id="+row.id
            },
        }
    })
</script>
</html>